<mat-card>
    <input *ngIf="showAddNames; else showHeader" type="button" value="Add Names" (click)="toggleAddNames()">
    <ng-template #showHeader>
        <mat-card-title>Names</mat-card-title>
    </ng-template>

    <div *ngFor="let entrant of entrants; let i = index;">
        <input [(ngModel)]="entrants[i].name" type="text" value="{{entrant.name}}">
    </div>

    <input *ngIf="!showAddNames" type="button" value="Add Name" (click)="addName()">

    <input *ngIf="entrants.length > 1" type="button" value="Draw" (click)="drawNames()">
</mat-card>